* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('bg.jpg') no-repeat center;
  background-size: cover;
  
 color:#dedede
 
}


h1{
    padding:10%;
    text-align:center;
    border-radius: 34px; 
    margin-top: 5px;

    }
   
    .container{display: flex;
      flex-direction: column;
       align-items: center;
      justify-content: center;
    margin-top: 5%;}
    .main{  
    width: 400px;
    height: 620px;
   border: 1px solid grey;
   background-color: rgba(71, 113, 130, 0.834); opacity:0.9;
   padding: 2%;
    color:#ccc;
    -webkit-box-shadow: 7px 5px 11px 4px #000000; 
box-shadow: 7px 5px 11px 4px #4d4d4d;
border-radius: 34px; 

    }

    
    input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #1c1a1a;
    font-size: 16px;
    border-radius: 5px;
    }
    label{
    color: #cdc9c9;
    font-size: 16px;
    font-weight: bold;
    
    }
   
    .valid{
    color:rgb(231, 123, 173);
    }
   
    input[type=button]{
    font-size: 16px;
    border: none;
    color: #e3e3e3;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    margin-top:5px;
       font-size: 16px;
       line-height: 10px; padding: 15px; 
       border-radius: 34px; 
    background-image: linear-gradient(45deg, rgba(31, 67, 81, 0.904) 0%, rgb(81, 147, 173) 50%, rgb(24, 51, 70) 100%); 
    box-shadow: rgb(48, 48, 48) 4px 5px 5px 4px;
     
           display: inline-block;}
      .myButton:hover {
      background: #1C6EA4; }
      .myButton:active {
      background: #144E75; }
    
    
    input[type=button]:hover{
    background: linear-gradient(#297cd4 5%, #1082bf 100%);
    
  
  }


    form {
        margin-top: 50px;
    }
    
    
  
      
      
      .captcha {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-style: italic;
       
        font-size: 30px;
      
        border-radius: 10px;
        text-decoration: line-through;
        color: #a0a0a0;
        background-color: #253043;
      }
      
      .errmsg {
        color: rgb(164, 7, 7);
        padding: 2px;
        transition: 0.5s ease;
      }
      
      

    
      
      